html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right, #000000, #434343);
}

.calculator {
    width: 400px;
    border-radius: 12px;
    
    background: white;
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

.calculator-display {
    margin: 0;
    border-radius: 10px 10px 0 0;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    background: black;
    color: white; 
}

.calculator-display h1 {
    margin: 0;
    padding: 25px;
    
    font-size: 45px;
    font-family: "Lucida Console", sans-serif;
    font-weight: 100;
    overflow-x: auto;
}

/* Buttons */
.calculator-buttons {
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.equal-sign {
    grid-column: -2;
    grid-row: 2 / span 4;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}

